:root {
    --black: #000;
    --white: #fff;
    --col1: #221316;
    --col2: #431a16;
    --col3: #762e20;
    --col4: #b55628;
    --col5: #b07346;
    --col6: #edad70;
    --col7: #f3d6b8;
    --col8: #d0af9e;
    --col9: #daccc3;
    --col10: #f3ebe8;
    --col11: #fefefe;
    --font1: 'Merienda', cursive;
    --font2: 'KoHo', sans-serif;


}

body {
    background-color: var(--col10);
    color: var(--col1);
    margin: 0;
    padding: 0;
    font-family: var(--font2);
    font-size: 18px;
    line-height: 1.5;
}

/* Title */

h1 {
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    font-family: var(--font1);
    font-size: 35px;
}


h2 {
    font-family: var(--font1);
    font-size: 28px;

}

h3 {
    font-family: var(--font1);
    font-size: 22px;
}

p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


    .navbar .container-fluid, .navbar .container-fluid .collapse, .navbar-expand-lg .navbar-nav, .navbar-expand-lg .navbar-collapse  {
        flex-direction:column;
    }

    .navbar {
        background-color: var(--col2);
        z-index: 2000;
    }

    .navbar-toggler {
        background-color: var(--col4);
    }    

    .navbar, .container-fluid .navcontainer, .container-fluid .collapse, .container-fluid .navSocialMedia {
        color: var(--col9);
     }

     .navbar a {
        color: var(--col9);
        text-decoration-line:none;
     }

     .navbar .collapse a:hover , .navbar .collapse a:active {
        color: var(--col4);
        padding: 0 0 0 20px;
        text-decoration-line:none;
        width: 100%;

     }


     .navbar .collapse ul {
        padding: 10px;
        margin: 10px 0px 50px 0px;
        border: solid 1px var(--col4);
        border-radius: 10px;
        
     }

     .navbar .collapse ul, li {
       list-style-type: none;
     }


.paddingText{
    padding:20px;
}
.welcomeText {
    padding: 20px;
}

.welcomeImage {
    background-color: #762e20;
    border: red solid 1px;
    padding: 0px;
}
.welcomeImage img, .carousel-item  {
    width: auto;
    max-height: 100vh;
  }


  .content .fullScreen   {
    background-color: yellow;
    height: 100vh;
}


carousel {
    width: 100%;
}




/* Desktop */

@media screen and (min-width:769px) {
    .navbar {
        position: fixed;
        right: 0;
        min-width: 80px;
        height: 100vh;
        align-items: flex-start;
        align-content: flex-start;
       
    }

    .content  {
        padding: 0 82px 0 0;
        margin: 0 0 0 0;
        max-width: 100lh;
        border: solid 10px red;
    }

    .container-fluid {
        height: 100vh;
        }


    .navcontainer{
        text-align: right;
    }

    .container-fluid .collapse {
        width: 60vw;
        padding: 20px 0 20px 0;
    }

    .navSocialMedia {
        width: 50px;
        padding: 20px 0 20px 0;

    }

    .navSocialMedia .container {
        margin: 0;
        padding: 0;

    }

    .socialMediaButtonContainter {
        text-align: right;
        flex: 0 0 auto;
        width: 100%;
    }


    .socialMediaImage{
        height: 40px;
        width: 40px;
        margin: 5px;
    }


    .navbar .container-fluid, .navbar-epand-lg .navbar-collaps, .navbar-expand-lg .navbar-nav, .navbar-expand-lg .navbar-collapse  {
        flex-direction:column;
        justify-content: flex-start;

    }
    
    .collapse .containter .row .col-6 {
        padding: 0 50px 0px 50px;
    }

   
}

/* Tablet and Mobile */
@media screen and (max-width:768px) {
    body {
        font-size: 16px;
    }
    
    /* Title */
    
    h1 {
        font-size: 35px;
    }
    
    
    h2 {
        font-size: 28px;
    
    }
    
    h3 {
        font-size: 22px;
    }

    .content  {
        padding: 0 0 100px 0;
        margin: 0 0 0 0;
        max-width: 100lh;
        border: solid 10px red;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 80px;
        align-items: flex-start;
        align-content: flex-start;
        padding: 10px;
    }

    .container-fluid .collapse{
        padding: 20px 0 20px 0;

    }

    .navcontainer{
        width: 40%;
        text-align: right;
        
    }

    .navSocialMedia {
        width: 60%;
        display: flex;
    }

    .navSocialMedia .container {
        margin: 0;
        padding: 0;

    }

    .socialMediaButtonContainter {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }


    .socialMediaImage{
        max-height: 40px;
        max-width: 40px;
        margin: 10px;
    }

    .navbar .container-fluid, .navbar-epand-lg .navbar-collaps, .navbar-expand-lg .navbar-nav, .navbar-expand-lg .navbar-collapse  {
        flex-direction: row-reverse;
    }

    .content {
        padding-bottom: 100px;
    }


    .collapse .containter .row .col-6 {
        padding: 0 20px 0px 20px;
    }
}


/* Mobile Small */
@media screen and (max-width:576px) {
    body {
        font-family: var(--font2);
        font-size: 12px;
    }
    
    /* Title */
    
    h1 {
        font-size: 30px;
    }
    
    
    h2 {
        font-size: 20px;
    
    }
    
    h3 {
        font-size: 16px;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 80px;
        align-items: flex-start;
        align-content: flex-start;
        padding: 10px;
    }

    .container-fluid .collapse{
    }


    .socialMediaButtonContainter {
        width: 40px;
    }


    .socialMediaImage{
        max-height: 40px;
        max-width: 40px;
    }

    .collapse .containter .row .col-6 {
        padding: 0 10px 0px 10px;
    }

}